.row.post-main-page
	=render "layouts/nav-link-secondary"
	.row.first-row			
		.span12.show-postings-tab-box
			.row
				%p.page-title My Postings
			.row		
				#content
					%ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
						%li.active
							%a{"data-toggle" => "tab", :href => "#jobs"} Jobs
						%li
							%a{"data-toggle" => "tab", :href => "#trainings"} Trainings/Placement
						%li
							%a{"data-toggle" => "tab", :href => "#mentors"} Mentor Assitance
					#my-tab-content.tab-content
						#jobs.tab-pane.active
							.span12.post-jobs-box
								%table.table.table-striped
									%thead
										%tr
											%th{:width=>"70%"} Title
											%th{:width=>"15%"} Create At
											%th{:width=>"15%"}=t '.actions', :default => t("helpers.actions")
									%tbody
										- @post_jobs.each do |post_job|
											%tr
												%td= link_to post_job.job_title, post_job, :class=>"link-job-title"
												%td=l post_job.created_at, :format =>"%Y-%m-%d %H:%M"
												%td
													= link_to edit_post_job_path(post_job), :class => 'btn btn-mini' do
														%i.icon-edit &nbsp;Edit
													= link_to post_job, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger' do
														%i.icon-trash &nbsp;Delete
										%tr
											%td{:colspan=>"3", :class=>"pagenate"}=will_paginate @post_jobs, :param_name => 'job_page'

						#trainings.tab-pane
							.span12			
								%table.table.table-striped
									%thead
										%tr
											%th{:width=>"70%"} Title
											%th{:width=>"15%"} Created At
											%th{:width=>"15%"}=t '.actions', :default => t("helpers.actions")
									%tbody
										- @post_trainings.each do |post_training|
											%tr
												%td= link_to post_training.job_title, post_training, :class=>"link-job-title"
												%td=l post_training.created_at, :format =>"%Y-%m-%d %H:%M"
												%td
													= link_to edit_post_training_path(post_training), :class => 'btn btn-mini' do
														%i.icon-edit &nbsp;Edit
													= link_to post_training, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger' do
														%i.icon-trash &nbsp;Delete
										%tr
											%td{:colspan=>"3", :class=>"pagenate"}=will_paginate @post_trainings, :param_name => 'trining_page'
						#mentors.tab-pane
							.span12.show-box
								%table.table.table-striped
									%thead
										%tr
											%th{:width => "70%"} Title
											%th{:width => "15%"} Created At
											%th{:width => "15%"}=t '.actions', :default => t("helpers.actions")
									%tbody
										- @post_mentors.each do |post_mentor|
											%tr
												%td= link_to post_mentor.job_title, post_mentor, :class=>"link-job-title"
												%td=l post_mentor.created_at, :format =>"%Y-%m-%d %H:%M"
												%td
													= link_to edit_post_mentor_path(post_mentor), :class => 'btn btn-mini' do
														%i.icon-edit &nbsp;Edit
													= link_to post_mentor, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-mini btn-danger' do
														%i.icon-trash &nbsp;Delete
										%tr
											%td{:colspan=>"3", :class=>"pagenate"}=will_paginate @post_mentors, :param_name => 'mentor_page'
:javascript 
	$('ul.nav-tabs li').eq(1).addClass('isCurrent');
	$('div.nav-link ul li').eq(1).removeClass('current-tab');
	$('div.nav-link ul li').eq(0).addClass('current-tab');	