<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @post_job.job_title %></h1>
    <table class="table table-hover">
	    <tbody>
	      <tr>
	        <td>Job Type</td>
	        <td>: <%= @post_job.get_jobtype %></td>
	      </tr>
	      <tr>
	        <td>Amount</td>
	        <td>:<%= @post_job.refe_amount %></td>
	      </tr>
	      <tr>
	        <td>City</td>
	        <td>: <%= @post_job.job_city%></td>
	      </tr>
	      <tr>
	        <td>State</td>
	        <td>: <%= @post_job.job_state%></td>
	      </tr>
	      <tr>
	        <td>Duration</td>
	        <td>: <%= @post_job.job_duration %></td>
	      </tr>
	      <tr>
	        <td>Description</td>
	        <td>: <%=raw @post_job.job_description%></td>
	      </tr>
	      <tr>
	        <td>Skills</td>
	        <td>: <%= @post_job.get_skill.split(' ').join(',')%></td>
	      </tr>
	      
	    </tbody>
	  </table>
    <p>
    	View Complete Job details and Apply click here...
			Posted by
			American IT Resource Group Inc. Schaumburg,IL
			Thanks  
    </p>
    
  </body>
</html>