.container-fluid
	.row.post-main-page
		.row
			.span12.post-jobs-show-box
				.row
					.span10
						%h1= @post_job.job_title
				.row
					- user = User.find_by_id(@post_job.user_id)
					%p.company-name 
						#{user.company_name.nil? ? user.user_name : user.company_name } -  #{@post_job.job_city} ,  #{@post_job.job_state}
				.row
					.span3
						%strong 
							Job Type: 
					.span8
						%span=@post_job.get_jobtype
				.row
					.span3
						%strong Amount:
					.span8
						%label= @post_job.refe_amount
				.row
					.span3
						%strong 
							City: 
					.span8
						%label= @post_job.job_city
				.row
					.span3
						%strong 
							State: 
					.span8
						%label= @post_job.job_state
				.row
					.span3
						%strong 
							Duration: 
					.span8
						%label= @post_job.job_duration
				.row
					.span3
						%strong 
							Work Authorization: 
					.span8					
						-@post_job.work_authorizations.each do |autho|
							.row
								.span1
									=image_tag("view_tickl.png")
								.span6
									%label=autho.desc
				.row
					.span3
						%strong 
							Description: 
					.span8
						%label= markdown @post_job.job_description
				.row
					.span3
						%strong 
							Skills: 
					.span8
						-@post_job.skill_lists.each do |skill_name|
							%a.h1bwiki-skill{:href=>"#"}=skill_name.name
				.row.last-row										
					- if current_user.is_seeker?
						.span3
						.span3
							%a.btn.apply-button{"data-toggle" => "modal", :href => "#apply_model", :role => "button", :"data-title" => "#{@post_job.job_title}", :type=>"#{user.email}", :style=>"width: 202px; padding-top: 6px; padding-bottom: 6px;" } Apply
					- else
						.span3							
					.span3
						%input.m-btn.blue{:type=>"button", :value=>"Forward"}					
					.span3
						%input.btn{:type=>"button", :value=>"Close"}
				%br/
				%br/
				%br/
				%br/


#apply_model.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
	.modal-header
		%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
		%h3#myModalLabel Apply Job
	.modal-body	
		= simple_form_for @applicants, url: "/applicants/create", :html => { "data-validate" => "parsley", :id => "apply_form", :multipart=>true } do |f|
			= f.hidden_field :post_job_id, :value => @post_job.id
			= f.hidden_field :user_id, :value => current_user.id
			.first-row					
				%h4#jobtitle= @post_job.job_title
			.second-row
				= f.text_area :bid_sentence, :rows=>"8", :cols => "10", :placeholder => "Message", "data-required"=>"true", :style=>"width:500px;"
			.third-row{:style=>"padding: 20px 0px; height: 40px;"}
				.span4
					%label Upload Resume
				.span5
					= f.fields_for :pictures do |picture|
						=picture.file_field :image
			.modal-footer	 
				= f.button :submit, "Send", class: 'm-btn blue'				
				%button.m-btn{"data-dismiss"=>"modal", "aria-hidden"=>"true"}Close



:javascript 
	$('ul.nav-tabs li').eq(0).addClass('isCurrent');
	$('a.apply-button').click(function(){
		$('#jobtitle').text($(this).data("title"))
	});

	$("#applicant_pictures_attributes_0_image").change(function(){
		console.log("ok?");
		var file = $(this).val();
		var i = file.search(".doc");
		
		console.log(i);

		if( file.search(".doc") != -1 || file.search(".docx") != -1 || file.search(".pdf") != -1 ){
			return true;
		}else{
			alert("Please select *.doc, *.docx, *.pdf.");
		}
	});

	$("#apply_form").submit(function(){
		
		var file = $("#applicant_pictures_attributes_0_image").val();

		if( file.search(".doc") != -1 || file.search(".docx") != -1 || file.search(".pdf") != -1 ){
			return true;
		}else{
			alert("Please select *.doc, *.docx, *.pdf.");
			return false;
		}
		return false;
	});

/							.span3
/							%a.m-btn.blue.contact-button{"data-toggle" => "modal", :href => "#myModal", :role => "button", :rel => "#{@post_job.job_title}", :type=>"#{user.email}" } Contact
