%tr
	%td
		.oMCName
			%label.user-name
				= messages.messages[0].sender.user_name		
				%span.message-count (#{messages.messages.count})
		%time{:datetime => "#{messages.messages[0].created_at}", :title => "#{messages.messages[0].created_at}"}=l messages.messages[0].created_at, :format => "%b %d %I:%M %p"
	%td
		%a.message-title{:href => "/conversations/#{messages.id}"}= messages.messages[0].subject
		.message-body= messages.messages[0].body
	%td.txtRight
