.container-fluid
	.row.mailbox-page
		=render "layouts/nav-link-mailbox-secondary"
		.row.first-row
			.span12
				.page-header
					%p.page-title Deleted
				.row
				#mcSearchContainer
					%input#mcCtrlSearchField.oFormMed.ac_input{:autocomplete => "off", :maxlength => "100", :placeholder => "Search Messages", :type => "search", :value => ""}/
			.span12.mail-inbox
				%table.table.table-striped
					%colgroup
						%col/
						%col/
						%col/
						%col/
					%tbody.txtTop
						%tr#msg_204048733
							%td
								%img.oPortraitTiny{:alt => "Rodrigo Zaranza", :src => "/images/noImage_50.png"}/
							%td
								.oMCName
									%span{:title => "Rodrigo Zaranza"}> Rodrigo Zaranza
									\ 
									%span.oCount 2
								%time{:datetime => "2013-03-15T02:03:11+00:00", :title => "Fri, Mar 15, 2013 at 2:03am"} 2:03 am
							%td
								%a.oMCSubject{:href => "#thread/204048733"} Front-end development for flash sales website
								.oMCSnippet Hi Rodriago Thanks for your reply. I can complete your job within 15'hrs...
							%td.txtRight
						%tr#msg_203861469
							%td
								%img.isMultiple.oPortraitTiny{:alt => "Brian, Peng", :src => "https://www.odesk.com/att/~~eli0vJrYTYQyd0V7DcD8w0tJ7f5n-LKD3VvrOgte9IWyhwn0p*dJ0A=="}/
							%td
								.oMCName
									%span{:title => "Brian Davis"}> Brian
									,
									%span{:title => "Peng Zhou"} Peng
								%time{:datetime => "2013-03-14T07:43:06+00:00", :title => "Thu, Mar 14, 2013 at 7:43am"} Mar 14
							%td
								%a.oMCSubject{:href => "#thread/203861469"} Please Make Progress Today!
								.oMCSnippet Peng & Gwangming -- Taras is asleep -- but I need some solid progress from...
							%td.txtRight
						%tr#msg_202590547
							%td
								%img.oPortraitTiny{:alt => "Tim Barbeau", :src => "/images/noImage_50.png"}/
							%td
								.oMCName
									%span{:title => "Tim Barbeau"}> Tim Barbeau
									\ 
									%span.oCount 4
								%time{:datetime => "2013-03-11T14:53:26+00:00", :title => "Mon, Mar 11, 2013 at 2:53pm"} Mar 11
							%td
								%a.oMCSubject{:href => "#thread/202590547"} Developer needed for twitter-bootstrap site
								.oMCSnippet Hi Tim How are you? I'm waiting now your contact. My s-k-p : chui.gentle0219...
							%td.txtRight
						%tr#msg_202430677
							%td
								%img.oPortraitTiny{:alt => "Michael Lungo", :src => "https://odesk-prod-portraits.s3.amazonaws.com/Users:tkvr:PortraitUrl_50?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=9KeyFWiS%2Fjy35BLTUTiDToUelpo%3D"}/
							%td
								.oMCName
									%span{:title => "Michael Lungo"}> Michael Lungo
									\ 
									%span.oCount 2
								%time{:datetime => "2013-03-09T14:49:27+00:00", :title => "Sat, Mar 09, 2013 at 2:49pm"} Mar 09
							%td
								%a.oMCSubject{:href => "#thread/202430677"} Senior Ruby on Rails, UI/UX/QUALITY Programmer Needed - Long…
								.oMCSnippet Hi Michael Lungo Thanks for your interview me. My skp : chui.gentle0219 Best...
							%td.txtRight
						%tr#msg_201863512
							%td
								%img.oPortraitTiny{:alt => "Jochen Heine", :src => "https://odesk-prod-portraits.s3.amazonaws.com/Users:webgekko:PortraitUrl_50?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=Yky2jdkJLFPpEk6qFxvaDxkKfyc%3D"}/
							%td
								.oMCName
									%span{:title => "Jochen Heine"}> Jochen Heine
									\ 
									%span.oCount 6
								%time{:datetime => "2013-03-07T20:28:35+00:00", :title => "Thu, Mar 07, 2013 at 8:28pm"} Mar 07
							%td
								%a.oMCSubject{:href => "#thread/201863512"} Ruby on Rails 3, Twitter Bootstrap, Carrierwave, S3, Heroku,…
								.oMCSnippet Hi Jochen Thanks for your kindness. If have you any job for me, please reach...
							%td.txtRight
						%tr#msg_200090585
							%td
								%img.oPortraitTiny{:alt => "Keith Lai", :src => "/images/noImage_50.png"}/
							%td
								.oMCName
									%span{:title => "Keith Lai"}> Keith Lai
									\ 
									%span.oCount 35
								%time{:datetime => "2013-03-06T15:33:58+00:00", :title => "Wed, Mar 06, 2013 at 3:33pm"} Mar 06
							%td
								%a.oMCSubject{:href => "#thread/200090585"} Help Create Revolutionary Scheduling Software For The Home I…
								.oMCSnippet yes sorry i can't work with you. You didn't pass the test.
							%td.txtRight
						%tr#msg_201350330
							%td
								%img.oPortraitTiny{:alt => "Christian Rodriguez", :src => "https://odesk-prod-portraits.s3.amazonaws.com/Users:mrchrisrodriguez:PortraitUrl_50?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=zFIjbNhumuhVHyy1OqDVS4hBdJY%3D"}/
							%td
								.oMCName
									%span{:title => "Christian Rodriguez"}> Christian Rodriguez
									\ 
									%span.oCount 5
								%time{:datetime => "2013-03-06T03:18:09+00:00", :title => "Wed, Mar 06, 2013 at 3:18am"} Mar 06
							%td
								%a.oMCSubject{:href => "#thread/201350330"} Simple Rails / JavaScript app based on SelfStarter.us
								.oMCSnippet Hi Christian I've seen your details on...
							%td.txtRight
						%tr#msg_198992797
							%td
								%img.oPortraitTiny{:alt => "Jeremy LYNCH", :src => "/images/noImage_50.png"}/
							%td
								.oMCName
									%span{:title => "Jeremy LYNCH"}> Jeremy LYNCH
									\ 
									%span.oCount 8
								%time{:datetime => "2013-03-03T08:01:11+00:00", :title => "Sun, Mar 03, 2013 at 8:01am"} Mar 03
							%td
								%a.oMCSubject{:href => "#thread/198992797"} Library
								.oMCSnippet Hi Crane, Please let me know when you are on skype next as i would love to...
							%td.txtRight
						%tr#msg_197912162
							%td
								%img.isMultiple.oPortraitTiny{:alt => "Aprile, Greg, Zeb", :src => "https://odesk-prod-portraits.s3.amazonaws.com/Users:aprilecoleman:PortraitUrl_50?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=AjIV52vavDtf7CePuto4P1hbdik%3D"}/
							%td
								.oMCName
									%span{:title => "Aprile Coleman"}> Aprile
									,
									= succeed "," do
										%span{:title => "Greg Taschuk"} Greg
									= succeed "&nbsp;" do
										%span{:title => "Zeb Dropkin"} Zeb
									%span.oCount 25
								%time{:datetime => "2013-03-04T08:29:23+00:00", :title => "Mon, Mar 04, 2013 at 8:29am"} Mar 04
							%td
								%a.oMCSubject{:href => "#thread/197912162"} From PSDs to Ready for Rails
								.oMCSnippet Hi ZepDropkin I'd like to start in the this week this project. Thanks -Crane
							%td.txtRight
						%tr#msg_196295601
							%td
								%img.oPortraitTiny{:alt => "Obs M", :src => "/images/noImage_50.png"}/
							%td
								.oMCName
									%span{:title => "Obs M"}> Obs M
									\ 
									%span.oCount 29
								%time{:datetime => "2013-02-27T07:59:13+00:00", :title => "Wed, Feb 27, 2013 at 7:59am"} Feb 27
							%td
								%a.oMCSubject{:href => "#thread/196295601"} My Passes Page
								.oMCSnippet Hi Obi! How are you? Did you check about this problem? Have you any job for...
							%td.txtRight
						%tr#msg_196691717
							%td
								%img.oPortraitTiny{:alt => "Justin Jake", :src => "/images/noImage_50.png"}/
							%td
								.oMCName
									%span{:title => "Justin Jake"}> Justin Jake
									\ 
									%span.oCount 7
								%time{:datetime => "2013-02-20T03:15:02+00:00", :title => "Wed, Feb 20, 2013 at 3:15am"} Feb 20
							%td
								%a.oMCSubject{:href => "#thread/196691717"} HI Justin
								.oMCSnippet When can we expect a working login screens
							%td.txtRight
						%tr#msg_197399406
							%td
								%img.isMultiple.oPortraitTiny{:alt => "Michael, Ling, Kyle", :src => "/images/noImage_50.png"}/
							%td
								.oMCName
									%span{:title => "Michael Friedman"}> Michael
									,
									= succeed "," do
										%span{:title => "Ling Chen"} Ling
									= succeed "&nbsp;" do
										%span{:title => "Kyle Sun"} Kyle
									%span.oCount 2
								%time{:datetime => "2013-02-18T17:39:05+00:00", :title => "Mon, Feb 18, 2013 at 5:39pm"} Feb 18
							%td
								%a.oMCSubject{:href => "#thread/197399406"} Catarse back end developer
								.oMCSnippet Hi Mike Thanks for your reply. My s-k-y-p-e : chui.gentle0219 Best regards...
							%td.txtRight
						%tr#msg_195781804
							%td
								%img.oPortraitTiny{:alt => "Patrick Giblin", :src => "/images/noImage_50.png"}/
							%td
								.oMCName
									%span{:title => "Patrick Giblin"}> Patrick Giblin
									\ 
									%span.oCount 6
								%time{:datetime => "2013-02-15T09:05:22+00:00", :title => "Fri, Feb 15, 2013 at 9:05am"} Feb 15
							%td
								%a.oMCSubject{:href => "#thread/195781804"} Rails Dashboard Development + Mongoid/Mongo3
								.oMCSnippet Hi Patrick Giblin How are you? http://50.116.8.160/ut/overview.html Is this...
							%td.txtRight
						%tr#msg_196007311
							%td
								%img.oPortraitTiny{:alt => "Michael MacMahon", :src => "/images/noImage_50.png"}/
							%td
								.oMCName
									%span{:title => "Michael MacMahon"}> Michael MacMahon
									\ 
									%span.oCount 4
								%time{:datetime => "2013-02-15T02:56:23+00:00", :title => "Fri, Feb 15, 2013 at 2:56am"} Feb 15
							%td
								%a.oMCSubject{:href => "#thread/196007311"} Hi
								.oMCSnippet Hi Crane I will have other work for you but not at this time. The only job I...
							%td.txtRight
						%tr#msg_196264438
							%td
								%img.oPortraitTiny{:alt => "Justin Jake", :src => "/images/noImage_50.png"}/
							%td
								.oMCName
									%span{:title => "Justin Jake"}> Justin Jake
									\ 
									%span.oCount 2
								%time{:datetime => "2013-02-14T12:03:37+00:00", :title => "Thu, Feb 14, 2013 at 12:03pm"} Feb 14
							%td
								%a.oMCSubject{:href => "#thread/196264438"} questions
								.oMCSnippet 1) COunt is the workflow sequence 2) Project Name: H1B wiki Jobs 3) You have...
							%td.txtRight
						%tr#msg_196211461
							%td
								%img.oPortraitTiny{:alt => "Obs M", :src => "/images/noImage_50.png"}/
							%td
								.oMCName
									%span{:title => "Obs M"}> Obs M
									\ 
									%span.oCount 3
								%time{:datetime => "2013-02-13T22:14:29+00:00", :title => "Wed, Feb 13, 2013 at 10:14pm"} Feb 13
							%td
								%a.oMCSubject{:href => "#thread/196211461"} Front-End SASS and HAML for RoR Site
								.oMCSnippet And then this page as well!
							%td.txtRight
								%i.oAttachmentIcon
						%tr#msg_195913738
							%td
								%img.oPortraitTiny{:alt => "Justin Jake", :src => "/images/noImage_50.png"}/
							%td
								.oMCName
									%span{:title => "Justin Jake"}> Justin Jake
									\ 
									%span.oCount 2
								%time{:datetime => "2013-02-13T00:07:42+00:00", :title => "Wed, Feb 13, 2013 at 12:07am"} Feb 13
							%td
								%a.oMCSubject{:href => "#thread/195913738"} Ruby on rails - web developer
								.oMCSnippet Hi sir! Thanks for your reply. My s-k-y-p-e id : chui.gentle0219 Best...
							%td.txtRight
						%tr#msg_195101565
							%td
								%img.oPortraitTiny{:alt => "Thomas Simp", :src => "/images/noImage_50.png"}/
							%td
								.oMCName
									%span{:title => "Thomas Simp"}> Thomas Simp
									\ 
									%span.oCount 2
								%time{:datetime => "2013-02-09T08:38:16+00:00", :title => "Sat, Feb 09, 2013 at 8:38am"} Feb 09
							%td
								%a.oMCSubject{:href => "#thread/195101565"} Ruby on Rails developer
								.oMCSnippet Dear sir! Thanks for your reply! My SKYPE ID : chui.gentle0219 Best regards....
							%td.txtRight
						%tr#msg_194133881
							%td
								%img.isMultiple.oPortraitTiny{:alt => "Pulkit, Liu", :src => "https://odesk-prod-portraits.s3.amazonaws.com/Users:pulkitim:PortraitUrl_50?AWSAccessKeyId=1XVAX3FNQZAFC9GJCFR2&Expires=2147483647&Signature=3RWbIX9V6zg%2Bx1Nq3EqOf9T1wIE%3D"}/
							%td
								.oMCName
									%span{:title => "Pulkit Madan"}> Pulkit
									,
									= succeed "&nbsp;" do
										%span{:title => "Liu ZhengXin"} Liu
									%span.oCount 4
								%time{:datetime => "2013-02-06T19:09:20+00:00", :title => "Wed, Feb 06, 2013 at 7:09pm"} Feb 06
							%td
								%a.oMCSubject{:href => "#thread/194133881"} Email Helpdesk
								.oMCSnippet Hi Pulkit Thanks for your reply. My Skype ID is chui.gentle0219 Best...
							%td.txtRight
						%tr#msg_193507202
							%td
								%img.isMultiple.oPortraitTiny{:alt => "John, Liu", :src => "/images/noImage_50.png"}/
							%td
								.oMCName
									%span{:title => "John Osborne"}> John
									,
									= succeed "&nbsp;" do
										%span{:title => "Liu ZhengXin"} Liu
									%span.oCount 4
								%time{:datetime => "2013-02-05T08:31:43+00:00", :title => "Tue, Feb 05, 2013 at 8:31am"} Feb 05
							%td
								%a.oMCSubject{:href => "#thread/193507202"} Ruby on Rails With TDD (Off-Hours)
								.oMCSnippet G, You appear on my skype contacts list, and you should have my name and ID...
							%td.txtRight
				
:javascript 
		$('ul.nav-tabs li').eq(2).addClass('isCurrent');	
		$('div.nav-link ul li').eq(2).addClass('current-tab');	