= form_for @post_mentor, :html => { :class => 'form-horizontal' } do |f|
	= f.hidden_field :user_id, :class => 'number_field', :value=>current_user.id
	.control-group
		= f.label :job_title, "Title", :class => 'control-label'
		.controls
			= f.text_field :job_title, :class => 'text_field large-field'
	.control-group
		= f.fields_for :skills do |skill|
			= skill.label "Skills Require", :class => 'control-label'
			.controls
				= skill.text_field :skill_list_id, :class => 'text_field large-field', :id => "skill_input_box"
	.control-group
		= f.label "Interview Support", :class => 'control-label'
		.controls.custom-select
			= f.select(:job_interview,[['Yes',1],['No',0]] )
	.control-group
		= f.label :job_description, "Description", :class => 'control-label'
		.controls
			= f.text_area :job_description, :class => 'text_area', :rows => 3
	.form-actions
		= link_to( '< Back ', post_main_path, :class => "btn" ) 
		= f.submit nil, :class => 'btn btn-success'
		= link_to( 'Preview ', 'preview', :class => "btn" ) 
		= link_to t('.cancel', :default => t("helpers.links.cancel")), post_mentors_path, :class => 'btn'
:javascript 
	$('ul.nav-tabs li').eq(0).addClass('isCurrent');
