.row.post-main-page
	=render "layouts/nav-link-secondary"
	.row.first-row.post-job-page
		.span12.show-box
			.page-header
				%p.page-title Need a Job / H-1B Sponsorship
			.row
				.span3
					%strong Title:
				.span8
					%label= @jobseeker_job.title
			.row
				.span3
					%strong Need H-1B Transfer:
				.span8
					%label= @jobseeker_job.transfer
			.row
				.span3
					%strong Immigration Status:
				.span8
					%label= @jobseeker_job.status == 1 ? 'Yes' : 'No'
			.row
				.span3
					%strong Description:
				.span8
					%label= @jobseeker_job.description


.form-actions
	= link_to t('.back', :default => t("helpers.links.back")), jobseeker_jobs_path, :class => 'btn'
	= link_to t('.edit', :default => t("helpers.links.edit")), edit_jobseeker_job_path(@jobseeker_job), :class => 'btn'
	= link_to t('.destroy', :default => t("helpers.links.destroy")), jobseeker_job_path(@jobseeker_job), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
