.container-fluid
	.row.post-main-page
		.row
			.span10.post-jobs-show-box
				.row
					.span10
						%h1= @post_training.job_title
				.row
					- user = User.find_by_id(@post_training.user_id)
					%p.company-name 
						#{user.company_name.nil? ? user.user_name : user.company_name } -  #{@post_training.job_city} ,  #{@post_training.job_state}
				.row
					.span3
						%strong Technology:
					.span8
						%span=@post_training.get_techtype
				.row
					.span3
						%strong Instruction mode: 					
					.span8
						%span=@post_training.get_instruction_mode
				.row
					.span3
						%strong Placement:
					.span8
						%span=@post_training.job_placement == '1' ? 'Yes' : 'No'
				.row
					.span3
						%strong Accomodation:
					.span8
						%label=@post_training.job_accomodation == '1' ? 'Yes' : 'No'
				.row
					.span3
						%strong City:
					.span8						
						%span=@post_training.job_city						
				.row
					.span3
						%strong State:
					.span8						
						%span=@post_training.job_state						
				.row
					.span3
						%strong Duration:
					.span8						
						%span=@post_training.job_duration						
				.row
					.span3
						%strong Job Description:
					.span8
						%label= markdown @post_training.job_description
				.row.last-row
					.span2.offset3
						-if current_user.present?
							-if user.id != current_user.id										
								%a.m-btn.blue.contact-button{"data-toggle" => "modal", :href => "#myModal", :role => "button", :rel => "#{@post_training.job_title}", :type=>"#{user.email}" } Contact
						-else
							%a.m-btn.blue.contact-button{"data-toggle" => "modal", :href => "#myModal", :role => "button", :rel => "#{@post_training.job_title}", :type=>"#{user.email}" } Contact
					.span2
						%input.m-btn.blue{:type=>"button", :value=>"Forward"}					
					.span2
						%input.m-btn.blue{:type=>"button", :value=>"Close"}
:javascript 
	$('ul.nav-tabs li').eq(0).addClass('isCurrent');
